.layout-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-width: 37px;

  text-align: center;
  font-size: 14px;
  line-height: 16px;
  user-select: none;
  color: #7216ce;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  background: #cfaaf5;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.layout-item:hover {
  cursor: grab;
  background: #d0aaf5a8;
}

.layout-item:active {
  cursor: grabbing;
}
