.Cal__Container__root {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.Cal__Container__root li {
  line-height: unset;
}

.Cal__Header__root {
  min-height: 80px;

  padding: 15px;

  border-radius: 0;

  background: linear-gradient(245deg, #0072f5 -20%, #ff4ecd 80%);
}

.Cal__Header__dateWrapper.Cal__Header__day {
  height: 30px;

  font-size: 30px;
  line-height: 30px;
}

.Cal__Weekdays__root {
  background: linear-gradient(-45deg, #0072f5 -20%, #ff4ecd 80%);
}

.Cal__Weekdays__day {
  background-color: transparent;
}

.Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
  border-radius: 5px;
}

.Cal__Day__root.Cal__Day__today:before {
  border-radius: 5px;
}

.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before,
.Cal__Day__root.Cal__Day__enabled:active:before,
.Cal__Day__root.Cal__Day__enabled:hover:before {
  border-radius: 5px;

  background: linear-gradient(-45deg, #0072f586 -20%, #ff4ecd85 80%);
}

.Cal__Day__root.Cal__Day__today.Cal__Day__enabled {
  color: #0072f5 !important;
}

.Cal__Today__root .Cal__Today__chevron {
  left: 55%;
}

.Cal__Today__chevron path {
  fill: white;
}

.Cal__Today__root,
.Cal__Today__show.Cal__Today__chevronUp,
.Cal__Today__root.Cal__Today__show {
  background: #0072f5da !important;
}

.Cal__Weekdays__day {
  margin-bottom: 0;
}

.Cal__Day__selection {
  background: linear-gradient(-45deg, #0072f5 -20%, #ff4ecd 80%);
}
