html,
body,
#root {
  min-width: 1440px;
  height: 100%;
  overflow: hidden;

  font-family: "Nunito Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --basic-gradient: linear-gradient(-45deg, #0072f5 -20%, #ff4ecd 80%);
}
