.main {
  display: grid;
}

.main__body {
  display: grid;
  grid-template-columns: 400px repeat(11, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    "c t t t t t t t t t t t"
    "c t t t t t t t t t t t";
  grid-area: b;
}

.main__calendar {
  grid-area: c;
}

.main__timetable {
  grid-area: t;

  overflow: auto;
}
